
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
   
    /* max-width: 1200px; */
    margin: 0 auto;
    background-image: url("images/back.jpg");
    background-size: cover;
  position: relative;
    
    

    color: #9E9E9E;
  }
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
   
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(16, 0, 43, 0.1);
 
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: #240046;
    color: #d3d3d3;
  }
  
  .header h1 {
    font-size: 50px;
    color: #d3d3d3;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  
  
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: black;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  .quote {
    background-color: rgba(132, 222, 2, 0.3); /* Kolor tła cytatu */
    font-style: italic;
    font-size: 2rem;
    max-width: 800px; /* Maksymalna szerokość cytatu */
    text-align: center;
    margin: 20px auto;
    padding: 15px; /* Dodanie paddingu */
    border-radius: 10px; /* Zaokrąglone rogi */
  }